# Next.js build output
.next/
out/

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Local env files
.env*.local
!.env.example

# Vercel
.vercel

# Build logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
/coverage

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Debug
.DS_Store
*.pem

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
